@import"tailwindcss";

.font-style{
    font-size: 16px;
    line-height: 24px;
    font-family: 'inter';
}

.down-chevro{
  width: auto;
  height:18px;
  fill: transparent;
  stroke: black ;
  stroke-width: 3px;
  stroke-linecap:round ;
  transform: rotate(270deg);
}

